#loancal{
    width: 400px;
    height: 300px;
    background-color: #000;
    color: #fff;
    margin-left: 275px;
    margin-top: 95px;
    padding-top: 20px;
    padding-left: 90px;
}
#months {
     width: 175px;
     height: 20px;
}
#amount {
      width: 175px;
      height: 20px;
}
#interest_rate{
    /* margin-left: 2px; */
    width: 180px;
    height: 20px;
}
h1{
    font-size: 40px;
}
